<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start & Managed</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ab
      atque quo illum necessitatibus. Asperiores corporis quos ratione quidem,
      dolorum optio animi veniam nihil unde laudantium dolore aspernatur
      aliquam? Iure?
    </p>
  </div>
</div>
